<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://avatars3.githubusercontent.com/u/44585278?s=460&v=4">
</div>
<div style="text-align: center">
  <p><b>Text Example:</b> {{text}}</p>
  <input type="text" [(ngModel)]="find" (ngModelChange)="onChanged()">
  <p><b>Result: </b>{{result?.prefix}}<b style="color: dodgerblue;">{{result?.content}}</b>{{result?.suffix}}</p>
</div>
